In [3]:
#length function
x=[12,2,3,4,5,6]
print("x =",x)
print("Length of x =",len(x))

x = [12, 2, 3, 4, 5, 6]
Length of x = 6

In [4]:
#using max() function to find out the highest number
list=[1,345,343,134,654,223]
print("LIST =",list)
print("Maxmimun No. is = ",max(list))

LIST = [1, 345, 343, 134, 654, 223]
Maxmimun No. is =  654

In [5]:
#using min() function to find out the highest number
list=[345,343,134,654,223]
print("LIST =",list)
print("Minimum No. is =",min(list))

LIST = [345, 343, 134, 654, 223]
Minimum No. is = 134

In [6]:
#round function
x=2.56
print(x)
print("Round value =",round(x))

2.56
Round value = 3

In [10]:
#using boolean function
x=bool(1)
print(x)

True

In [7]:
#type function
x=12
print("x =",x)
print("Type =",type(x))

x = 12
Type = <class 'int'>

In [8]:
y="Aryan"
print("y =",y)
print("Type is =",type(y))

y = Aryan
Type is = <class 'str'>

In [10]:
z=2.45
print("Z =",z)
print("Type =",type(z))

Z = 2.45
Type = <class 'float'>

In [12]:
#id function
x=1
print("Id of 1 is :",id(x))
y=2
print("Id of 2 is :",id(y))

Id of 1 is : 2957204875568
Id of 2 is : 2957204875600

In [13]:
#input fucntion to get the values from user
x=input("Enter the value of x= ")
y=input("Enter the value of y= ")
x = int(x)  
y = int(y)
sum=x+y
print("Their sum =",sum)

Enter the value of x= 2
Enter the value of y= 5
Their sum = 7

In [33]:
#range function
x=range(5)
for n in x:
    print(n)

0
1
2
3
4

In [34]:
#converting the int in float using float function
x=4
float(x)

4.0

In [17]:
#sorted function
list=[4,2,5,8,6,1,9]
print("List",list)
print("Sorted List =",sorted(list))

List [4, 2, 5, 8, 6, 1, 9]
Sorted List = [1, 2, 4, 5, 6, 8, 9]