In [3]:
#string data type
string=("HELLO WORLD!  THIS IS ARYAN")
print(string)

HELLO WORLD!  THIS IS ARYAN

In [6]:
#intergs data type
sample=5
print("sample",sample)
print("Type of string is:",type(sample))

sample 5
Type of string is: <class 'int'>

In [5]:
#float datatype
x=1.345
print("X =",x)
print("Type of string is:",type(x))

X = 1.345
Type of string is: <class 'float'>

In [4]:
#Booleans datatype
x=bool(1)
print(x)
print("Type of string is:",type(x))

True
Type of string is: <class 'bool'>

In [11]:
#lists datatype
list=[1,2,35,6]
print("LIST =",list)
print("The datatype is ",type(list))

[1, 2, 35, 6]
The datatype is  <class 'list'>

In [13]:
#tuples datatype
sample=(1,2,3,4,5)
print(sample)
print("The datatype is ",type(sample))

(1, 2, 3, 4, 5)
The datatype is  <class 'tuple'>

In [14]:
#dictionaries datatype
y={"a":1,"b":2,"c":4,"d":5}
print(y)
print("The datatype is ",type(y))

{'a': 1, 'b': 2, 'c': 4, 'd': 5}
The datatype is  <class 'dict'>

In [9]:
#SET datatype

set={5,2,3,1,4}
print('SET = ',set)
print("Type :",type(set))
even_nums={2,4,6,8,10}
print('SET OF EVEN NUMBERS =',even_nums)

SET =  {1, 2, 3, 4, 5}
Type : <class 'set'>
SET OF EVEN NUMBERS = {2, 4, 6, 8, 10}